{% extends 'layouts/base.html' %}
{% block base %}

<h2 class="screen-reader-only">What we do and who we are</h2>

<ul id="about-tabs">
	<li>
		<a href="#what-container" id="what-btn" class="active">What we do</a>
	</li>
	<li>
		<a href="#who-container" id="who-btn">Who we are</a>
	</li>
	<li>
		<a href="#how-container" id="how-btn">How we do it</a>
	</li>
</ul>

<div id="what-container" class="tab-content">
	<img class="shadow-img" src="{{RESOURCES_URL}}resources/img/exterior.jpg" width="230" height="345" alt="" />
	<div class="content">
		<p>
			For over 20 years, Chelsea Court Designs has provided a comprehensive interior architectural design &amp; decoration service to private clientele, property developers and hoteliers throughout America, Europe and Asia. Creative Director, Marie Peterson, leads her dedicated team of talented designers in creating concepts where lifestyles and aesthetics fuse seamlessly, resulting in distinctively stylish interiors that reflect our clients' personalities.
			<br>
			<br>
			In addition, we strive to make the entire design process both enjoyable and rewarding, priding ourselves on our friendly, service - oriented approach. Through our creation of thoughtfully designed spaces for living, laughing, eating, and working, we strive to nurture every client relationship, resulting in clients who return to us again and again.
			<br>
			<br>
			Our sound experience, first-class qualifications, and a perfect balance of artistic flair, architectural understanding and project management skills results in distinctive and stylish interiors that thoughtfully reflect our clients' personalities. As true professionals, we are able to guide our clients from initial consultation, through conceptual interpretation, and finally to a completely unique design of the highest standard.
		</p>
	</div>

</div>

<div id="who-container" class="tab-content hidden">
	{% for person in people %}
	
	<div id="{{person.id_class}}" class="{% if forloop.counter != 1 %}hidden{% endif %} person">
		<img src="{{MEDIA_URL}}{{person.large_img}}" width="211" height="315" alt="">
		<div class="content">
			<h3>{{person.name}}</h3>
			<p>
				{{person.blurb}}
			</p>
		</div>
	</div>
	{% endfor %}
	<ul id="who-tabs">
		{% for person in people %}
		<li>
			<a href="#{{person.id_class}}" id="{{person.id_class}}-btn" class="{% if forloop.counter == 1 %}active{% endif %}">{{person.name}}</a>
		</li>
		{% endfor %}
	</ul>

</div>

<div id="how-container" class="tab-content hidden">
	<img class="shadow-img" src="{{RESOURCES_URL}}resources/img/process.jpg" width="230" height="345" alt="" />
	<div class="content">
		<p>
			At Chelsea Court Designs, we pride ourselves on our ability to realize the home of your dreams working with you efficiently and painlessly.  Our talented team of designers is led by Marie Peterson whose creative vision over the past 35 years has won her national awards and critical acclaim.
			<br>
			<br>
			We will work hard to understand your vision and under Peterson's keen, professional eye we aim to create a fully functional space tailored to your personal needs and desires.  We specialize in custom design, give acute attention to detail offering a full range of architectural support, interior and decorating services. Our experienced staff is highly trained and dedicated to creating elegant interiors and architecturally superior features.  Supported by a committed management and accounting department, we embrace cost effective solutions to fit your budget, meet your deadline and exceed your expectations.
			<br>
			<br>
			Every project is unique from the initial consultation to the overall aesthetic design. We are proud of our services and will work with you to fulfill your special requests, your needs and your dreams.
		</p>
	</div>

</div>
</script>	
	<script>$(function(){CCD.pages.about();});</script>
</body>

{% endblock %}