{% extends 'layouts/base.html' %}
{% block base %}
<ul id="slideshow">
	<li class="noshow"><img src="assets/images/slideshow/slide-5.jpg" width="800" height="360" alt="" />
	</li>
	<li class="noshow"><img src="assets/images/slideshow/slide-4.jpg" width="800" height="360" alt="" />
	</li>
	<li class="noshow"><img src="assets/images/slideshow/slide-3.jpg" width="800" height="360" alt="" />
	</li>
	<li><img src="assets/images/slideshow/slide-1.jpg" width="800" height="360" alt="" />
	</li>
</ul>
{% endblock %}